<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jatin</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>header}}

    </div>
    <div class="main">
        <div class="f">
            <h2>This is the best course</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellat aliquid enim distinctio
                dolor aut odit nemo nam, totam mollitia beatae </p>
                <button class="more">More</button>
        </div>
        <div class="f">
            <h2>This is the best course</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellat aliquid enim distinctio
                dolor aut odit nemo nam, totam mollitia beatae .</p>
                <button class="more">More</button>
                
        </div>
        <div class="f">
            <h2>This is the best course</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellat aliquid enim distinctio
                dolor aut odit nemo nam, totam mollitia beatae</p>
                <button class="more">More</button>

        </div>
    </div>
</body>

</html>