<link rel="stylesheet" href="css/style.css">
<div class="header">
        <div class="navbar">
            <div class="b1">
            Jatin Kumar
            </div>
            <div class="b2">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/secret">Secret</a></li>

                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>

                <li><a href="/register">Register</a></li>
            </ul>
            </div>
        </div>
        <div class="p">
        <h1>Welcome to Mern Backend Course</h1>
        <p>The best Course for developer</p>
        </div>

    </div>